:host {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home-header {
  width: 100%;
  max-width: var(--crumb-width);
  padding: 0 20px;
}

.search-input {
  padding: 10px;
  width: 100%;
  border-radius: 0;
  background-color: var(--light-bg);
  border: none;
  outline: none;
  border-bottom: 2px solid var(--text-color);
  font-size: 1rem;
}

.search-input:focus-visible {
  border-bottom-color: var(--primary-color);
}

.film-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  padding: 20px;
  max-width: 1400px;
}

.film-link {
  display: contents;
}
