<header class="header-card">
  <p class="film-title">{{ film().title }}</p>
  <button (click)="onClick(); $event.stopPropagation(); $event.preventDefault()">
    <img
      src="game-gamepad-gaming-svgrepo-com.svg"
      alt="favorites toggle"
      class="fav"
      [ngClass]="{ isFavorite: film().isFavorite }"
    />
  </button>
</header>
<div class="img-wrapper">
  @if (!posterLoaded()) {
    <div class="poster-skeleton"></div>
  }
  <img
    class="film-img"
    [src]="film().posterUrl"
    [alt]="film().title"
    [class.hidden]="!posterLoaded()"
    (load)="posterLoaded.set(true)"
  />
</div>
<div class="info">
  <p>{{ film().year }}</p>
  <p>{{ film().genre }}</p>
  <p>{{ film().rating }}</p>
</div>
