:host {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.breadcrumbs {
  display: flex;
  gap: 10px;
  width: 100%;
  max-width: var(--crumb-width);
  flex-wrap: wrap;
}

.crumb-link {
  color: var(--text-color);
  transition: var(--transition);
  font-size: 0.75rem;
}

.crumb-last {
  color: var(--text-color);
  font-size: 0.75rem;
  font-weight: 700;
}

@media (hover: hover) and (pointer: fine) {
  .crumb-link:hover {
    color: var(--primary-color);
  }
}
