:root {
  --text-color: #191919;
  --primary-color: #d32920;
  --transition: all 0.5s ease-in-out;
  --crumb-width: 900px;
  --light-bg: #f5f5f5;
}

@font-face {
  font-family: 'SegoeUI';
  src: url('assets/SegoeUI.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SegoeUI';
  src: url('assets/SegoeUI-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'SegoeUI', 'Inter', system-ui, -apple-system, sans-serif;
  font-size: 16px;
}

a {
 text-decoration: none;
}
