:root {
  --text-color: #191919;
  --primary-color: #d32920;
  --transition: all 0.5s ease-in-out;
  --crumb-width: 900px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', 'Inter', system-ui, -apple-system, sans-serif;
  font-size: 16px;
}

a {
 text-decoration: none;
}
